<nav id="main_nav">

  <div id="options_container">

    <ul>

      <li> Plan your trip </li>
      <li> Share your trips </li>
      <li> Your trip buddies </li>
      <li> Your trip journals </li>
      <li> Dashboard </li>

    </ul>

  </div>

  <div id="log_details">

    <div id="small_picture"> <img id="log_image" src=" ../images/me.jpg"> </div>
    <p id="signout"> Sign out </p>

  </div>

</nav>