<nav id="main_nav">

  <div id="options_container">

    <ul>
      <!--
      <li> <a href="/trips">Plan your trip </a>  </li>
      <li> <a href="/share">Share your trips  </a></li>
      <li> <a href="/friends"> Your trip buddies</a> </li>
      <li> <a href="/trips"> Your trip journals</a> </li>
      <li> <a href="/trips"> Dashboard </a></li>
      -->
      <li> <a href="/trips"><i class="fa fa-suitcase"></i> </a> </li>
      <li> <a href="/friends"> <i class="fa fa-users"></i></a></li>
      <li> <a href="/share"><i class="fa fa-share-alt"></i> </a></li>


    </ul>

  </div>

  <div id="log_details">

    <div id="small_picture"> <img id="log_image" src=" ../images/me.jpg"> </div>
    <i id="signout" class="fa fa-sign-out"></i> 

  </div>

</nav>