<nav id="main_nav">

  <div id="options_container">

    <ul>
      <!--
      <li> <a href="/trips">Plan your trip </a>  </li>
      <li> <a href="/share">Share your trips  </a></li>
      <li> <a href="/friends"> Your trip buddies</a> </li>
      <li> <a href="/trips"> Your trip journals</a> </li>
      <li> <a href="/trips"> Dashboard </a></li>
      -->
      <li> 
        <a href="/trips">
            <i class=" icon fa fa-suitcase"></i> 
            <span class="onhover">Plan a trip</span>
        </a>  
        
      </li>
      <li> 
        <a href="/friends"> 
            <i class="icon fa fa-users"></i>
            <span class="onhover">Your network</span>
        </a> 
      </li>
      <li> 
        <a href="/share">
            <i class="icon fa fa-share-alt"></i> 
            <span class="onhover">Share a trip</span>
        </a>
        
      </li>
      <li> 
        <a href="/add_friends">
            <i class="icon fa fa-user-plus"></i> 
            <span class="onhover">Add a friend</span>
        </a>
        
      </li>



    </ul>

  </div>

  <div id="log_details">

    <div id="small_picture"> <img id="log_image" src=" ../images/me.jpg"> </div>
    <i id="signout" class="fa fa-sign-out"></i> 

  </div>

</nav>