{{>nav}}

<h1> Your trip buddies</h1>

<div id="friends-container">
      <div id="friends_labels-container">
            <div class="friends_label"> All </div>
            <div class="friends_label"> Meet up</div>
            <div class="friends_label"> Meet up</div>
      </div>

      <div id="friends-details-container">

      </div>

</div>