{{>nav}}
<div class="main-body">
  <div class="main_background">
  <div class="title_and_links_container">

      <h1> Welcome to Fantabulous !</h1>
      <h2> Meet your friends for your next holidays.</h2>
      <h3>
        Fantabulous is an easy-to use app that enables you to plan your next trip on an interactive map.
        Once your trip is created and once you have connected to your network, you can check out which friends 
        are going to the same destination at the destination.
      </h3>
      
      <div id="calltoaction">
      <button class="button-secondary cta"> 
        <a class="main_link" href="/signup"> Sign up</a>
      </button>
      </div>

  </div>
</div>

</div>
{{>footer}}
