{{>nav}}
<div class="main-body">
  <div class="main_background">
  <div class="title_and_links_container">

    <p class="main_title">

      Fantabulous

    </p>

    <div class="links_container">

      <a class="main_link" href="/trips"> Plan your next trip now </a>
      <a class="main_link" href="/signup"> Sign up  </a>
      <a class="main_link" href="/about"> About</a>
    </div>

  </div>
</div>

</div>
{{>footer}}
