<div class="main_background">

  <div class="title_and_links_container">

    <p class="main_title">

      Fantabulous title

    </p>

    <div class="links_container">

      <a class="main_link" href="/main"> Plan your next trip now </a>
      <a class="main_link" href="/signup"> Sign up and start planning </a>
      <a class="main_link" href="/about"> About Fantabulous</a>


    </div>

  </div>

</div>