<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCradM-20X3j_ovam22t6F5Z48OXc1Ic2w"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../javascripts/utils.js"></script>
  <script src="../javascripts/ajaxhandler.js"> </script>

  
  <title> {{title}} </title>
</head>

<body>

  {{{body}}}

  <script type="module" src="../javascripts/trips.js"></script>
</body>

</html>