
<script src="/../javascripts/utils.js"></script>
<script type="module" src="/../javascripts/newfriends.js"></script>

{{>nav}}

<div class="main-body">
    <div class="wrap" id="wrap-bar">
        <h1>Add a friend to your network</h1>
        <div class="search">
            <input type="text" class="searchTerm" placeholder="e.username" id="searchValue">
            <button type="submit" class="searchButton" id="searchUsernameBtn">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div id="errorMessage">
        </div>
    </div>
     
    <span> TODO: 
    </span>
    <p>when hovering on the found friend, a add friend icon pops up and send an invit (email), status: pending</p>
    <p>updates status in db and then in friends page</p>

    <div id="users-wrapper">


    </div>

</div>

{{>footer}}