{{>nav}}
<script src="/../javascripts/trips.js"></script>
<div class="main-body">
    
    <div id="body-trip">
    
        <h1>Your trips</h1>

        <div id="all-trips">
        </div>

    <button class="button-secondary"> 
        <a class="main_link" href="/trip_add/"> Plan a trip</a>
      </button>

</div>
{{>footer}}
