<script src="../javascripts/maphandler.js"></script>
<script src="../javascripts/utils.js"></script>
<script src="../javascripts/tripdetails.js"></script>

{{>nav}}

<div id="wrapper-trip-details" style="background-image: url({{tripResponse.picture}})">

  <section class='title'>
    <h1>{{tripResponse.name}} from {{start}} to {{end}}</h1>
  </section>

  <div id="trip_details_container" class="medium_padding">

    <div id="trip_details_form_container" class="medium_padding">

      <div class="trip_details_form_labels">
        <div class="header"> Start </div>
        <div class="header"> End </div>
        <div class="header"> To do what </div>
        <div class="header"> Where </div>
        <div class="header"> Add </div>
      </div>

      <form class="trip_details_form"></form>

    </div>
    <div id="trip_details_map"> Trip details map </div>
  </div>

</div>