{{>nav}}
<script src="/../javascripts/trips.js"></script>
<div class="main-body">
    
    <div id="body-trip">
    
        <h1>Your trips</h1>

        <div id="all-trips">
        </div>

        <!-- <div class="add-button container"> -->
            <form action="/trip_add/{{id}}"  >
                <input  class="button-secondary" type="submit" value="Add a trip " />
            </form>
        <!-- </div> -->
</div>
{{>footer}}
