{{>nav}}

<script src="../javascripts/trips.js"></script>

<h1>Your trips</h1>

<div id="all-trips">

   
    <div class="wrapper-trip-container" >

        <div class="cta-trip invisible">
            <a href="/tripdetails/${tripInfoObject._id}" class="fa fa-eye table-icon" ></a> 
            <a href="/trip_edit/${tripInfoObject._id}" class="fa fa-edit table-icon"></a>
            <button id="${tripInfoObject._id}" class="fa table-icon"></button>
        </div>

        <form action="/trip_add" class="form-button-add trip-container" >
            <input  class="add-button-input" type="submit" value="+" />
        </form>
</div>



</div>


</div>