/*Reset Button*/

button {
	border: none;
  background: none;
  cursor: pointer;
	padding: 0;
  margin: 0;
}

button:focus {
outline: none;
}

/*--ARROW BUTTON--*/

.button-primary {
  color: white;
  background: black;
  border:1px solid;
  font-size: 1.2rem;
  transition: all .2s ease-in;
  transition-property:color, background;
  border-radius: 1rem;
  margin: 1rem; 
  padding: 1rem;
  width: 30vw; 
}

.button-primary:hover {
  color:black;
  background: white;
  border:1px solid;
}

.button-ternary {
  color: rgb(151, 151, 151);
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property:color;
}

.button-ternary:hover {
  color:black
}


.form-button-add{
  display : flex;
  flex-flow: column; 
  justify-content: center; 
  align-items: center; 
  padding: 0 2wv; 
}

.add-button-input{
  height: 80px; 
  width: 80px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  font-size: 50px;
  color: rgba(255,255,255,1);
  border-radius: 50%;
  background-color :  #3f51b5;
}

/* .arrow-button .btn-text {
  font-size: 1rem;
} */

/* .arrow-button .arrow {
  font-size: .9rem;
} */