#main-friends{
    display : flex; 
    flex-flow: column nowrap; 
    justify-content: center; 
    align-items: center; 
}

#friends-details-container{
    display : flex; 
    width: 80vw;  
    height: 60vh; 
    padding: 5vh;
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: flex-start;

}

#friends_labels-container{
    padding-top: 2vh;
    padding-bottom: 4vh;
    display : flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    align-items: center; 
}

.friend-wrapper{
    padding: 2vw; 
    width: 30vw; 
    display : flex; 
    flex-flow: column nowrap; 
    justify-content: center; 
    align-items: center; 
}

.friend-trip-description{
    display : flex; 
    flex-flow: column nowrap; 
    justify-content: center; 
    align-items: center; 
}

.friend-trip-description{
    text-align: center; 
    line-height: 1.5rem; 
}

.round{
    height: 120px;
    width: 120px; 
    border-radius: 50%;
}

.friend-name{
    font-size: 1.2rem; 
    font-weight: bold; 
}