@import "./main.css";
@import "./nav.css";
@import "./tripdetails.css";
@import "./utilityclasses.css";
@import "./trips.css"; 
@import "./addtripform.css";
@import './button.css';
@import "./lightpick.css";
@import "./friends.css";



:root {
  --nav: #29293d;
  --trip-container: #3f51b5;
  --nav-hover: gray; 
  --text-color : white; 


}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "Nunito", sans-serif;*/
}


body{
    margin:0;
    padding:0;
}

h1{
    text-align: center; 
    font-size: 2.5em;
    margin:0;
    padding-top: 2% ;
    padding-bottom: 1%; 
}


.main_background {
  background-image: url("../images/cover2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}

.title_and_links_container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: rgba(241, 241, 241, 0.5);
  border-radius: 15px;
}

.title_and_links_container:hover {
  background-color: rgba(241, 241, 241, 0.8);
}

.main_title {
  font-size: 60px;
  color: #524f4f;
  padding: 15px 30px;
  margin: auto;
  text-align: center;
}

.links_container {
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  padding: 40px 5px;
}

.main_link {
  width: 30%;
  text-align: center;
  color: #242222;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em; 
  font-weight: bold; 
}

.main_link:hover {
  color: black;
}
