#main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white; }
  
#options_container {
width: 100%;
margin: 0px;
padding: 0px;
display: flex;
justify-content: space-evenly; }

#options_container ul {
display: flex;
justify-content: flex-start;
align-items: center;
padding: 0px; }

#options_container ul li {
list-style: none;
padding: 2vw;
cursor: pointer; }

#options_container ul a:hover, #log_details p:hover {
color: var(--nav-hover) }

#options_container ul li a {
   
    text-decoration: none;
    color: var(--nav-text); 
}

#log_details {
    display: flex;
    justify-content: flex-end;
    /*width: 20%;*/
    padding: 0px }

#log_details p {
    font-size: 1.1rem;
    width: 50%;
    cursor: pointer; }
    
#small_picture {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1vw }

#log_image {
    width: 25%;
    border-radius: 20px; }
  