

#all-trips{
    display : flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center; 
    padding : 2%;
}
.invisible{
    visibility: hidden;
}

.table-icon{
    color : var(--trip-container);
}

.table-icon:hover {
    color: black;
  }

.cta-trip{
    display: flex; 
    flex-flow: column nowrap;
    justify-content: space-between; 
    align-items: center; 
}

.cta-trip a{
    text-decoration: none;
    padding: 5px; 
    font-size: 1.2em;
}

.wrapper-trip-container{
    margin : 2%; 
    background-color : var(--text-color);
    display : flex; 
    flex-flow: row; 
    justify-content: center; 
    align-items: center; 
}

.trip-container{
    height: 350px;
    width: 350px;
    border: 1px solid var(--trip-container); 
    border-radius: 50px; 
    display : flex; 
    flex-flow: row; 
    justify-content: center; 
    align-items: center; 
    font-size : 2em; 
    font-family: 'Source Sans Pro'; 
    background-repeat:no-repeat;
    background-size: 350px 350px;
    text-transform: uppercase;
    color : white;

}

.form-button-add{
    display : flex;
    flex-flow: column; 
    justify-content: center; 
    align-items: center; 

}
.add-button-input{
    height: 80px; 
    width: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 30px;
    color: rgba(255,255,255,1);
    border-radius: 50%;
    background-color :  #3f51b5;
}