#body-trip{
    display : flex; 
    flex-flow: column wrap; 
    justify-content: center; 
    align-items: center; 

}

span{
    font-weight: 1;
    font-size: 1rem; 
    margin: 0.3vh 0; 
}

#all-trips{
    display : flex; 
    width : 100%; 
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center; 
    padding : 0px;
}
.invisible{
    visibility: hidden;
}

.table-icon{
    color : var(--trip-container);
}

.table-icon:hover {
    color: black;
  }

.cta-trip{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between; 
    align-items: center; 
    margin: 0.6rem 0;
}

.cta-trip a{
    text-decoration: none;
    padding: 5px; 
    font-size: 1.2em;
}

.wrapper-trip-container{
    margin : 2%; 
    padding: 0; 
    height: 45vh;
    width: 30vh;
    /*max-width: 25vw; */
    background-color : var(--text-color);
    display : flex; 
    flex-flow: column; 
    justify-content: center; 
    align-items: center; 
}

.trip-container{
    padding: 0;
    margin: 0;
    height: 32vh;
    width: 30vh;
   
    /*
     height: inherit;
    width: inherit;
    
    border: 1px solid var(--trip-container); 
    border-radius: 50px; */
    display : flex; 
    flex-flow: row; 
    justify-content: center; 
    align-items: center; 
    font-size : 2em; 
    font-family: 'Source Sans Pro'; 
    background-repeat:no-repeat;
    background-size: 25vh 25vh;
    text-transform: uppercase;
    text-align: center; 
    color : white;
}

span{
    font-weight: bold; 
}