#wrapper_all_trips {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#trip_details_container {
  display: flex;
  height: 75vh;
  /*background-color: lightgrey;*/
}

#trip_details_form_container {
  display: flex;
  flex-direction: column;
}

.trip_details_form_labels,
.trip_details_form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 0px;
}

.trip_details_form_labels .header {
  width: 19%;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  font-size: 1.3em;
  color: white;
}

.invisible {
  visibility: hidden;
}

#trip_details_form_container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#trip_details_form {
  padding: 5px;
}

.trip_details_form input,
.trip_details_form .button_container {
  width: 19%;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0px;
  border-style: none;
  font-size: 1em;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

.trip_details_form button {
  width: 45%;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0px;
  border-style: none;
  font-size: 1em;
}

#trip_details_map {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  /*border-style: solid;*/
}

.input_button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}

.blank {
  background-color: lightgray;
}

.title h1 {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.image_banner {
  height: 20vh;
  border-bottom-style: solid;
  border-bottom-color: black;
}
